body {
    background: #e7eaf6; 
  }
  
  .navbar-light {
    margin: 0px;
    border: 0px; 
    padding: 0px;
    background-color: #00aaa0;
  }

  .navbar-brand {
    font-weight:bold;
    font-size: 30px;
    color: white;
  }
 
  /* This is the margin between the two white boxes in a container and the navbar */
  .container {
    margin: 100px;
  }

  .box {
    float: auto;
    background: #ffffff; ;
    border: 2px solid whitesmoke;
  }


  h1 {
    color: #00aaa0; 
    margin-top: 3%;
    margin-left: 2%;
  }

  /* Important for not overlapping in small size screen */
  img {
    width:50% !important;
    height:50% !important; 
  }

  .img-1 {
    float: left; 
    padding: auto;
    width: 250px;
    height: 250px;
  }

  .img-2 {
    float: left; 
    padding: auto;
    width: 250px;
    height: 250px;
  }
  
  .img-3 {
    float: right; 
    padding: auto;
    width: 250px;
    height: 250px;
  }

  .img-4 {
    float: right; 
    padding: auto;
    width: 250px;
    height: 250px;
  }
  p {
    font-size: 1.3rem;
  }
  
  /* Important for not overlapping in small size screen */
  .comp-img {
    width:100% !important;
    height:100% !important; 
  }

  .temp-img {
    width:100% !important;
    height:100% !important; 
  }

  figcaption {
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    color: #00aaa0;
  }