body {
    background: #e7eaf6; 
  }
  
  .navbar-light {
    margin: 0px;
    border: 0px; 
    padding: 0px;
    background-color: #00aaa0;
  }

  .navbar-brand {
    font-weight:bold;
    font-size: 30px;
    color: white;
  }
  .container {
    margin: 100px;
  }

  .box {
    float: auto;
    background: #ffffff; ;
    border: 2px solid whitesmoke;
  }


  h1 {
    color: #00aaa0; 
    margin-top: 3%;
    margin-left: 2%;
  }

  .img {
    float: left; 
    padding: auto;
    width: 206px;
    height: 205px;
  }

  p {
    font-size: 1.6rem;
  }
  
  .comp-img {
    width:100% !important;
    height:100% !important; 
  }