body {
    background: #e7eaf6; 
  }
  
  .navbar-light {
    margin: 0px;
    /* border: 0px; */
    padding: 0px;
    background-color: #00aaa0;
  }

  .box {
    /* relative positioning */
    position: relative;
    height: 700px;
    top: 40px;
    background: #ffffff; ;
    border: 2px solid whitesmoke;
  }
  
  .box-1 {
    width: 800px;
    left: 150px;
  }
  
  .box-2 {
    width: 600px;
    left: 100px;
  }

  h1 {
    color: #00aaa0; 
    margin-top: 5%;
    margin-left: 2%;
  }
  
  h2 {
    color: #00aaa0; 
    margin-top: 5%;
    margin-left: 2%;
  }

  .img1 {
    float: left; 
    padding: auto;
    width: 300px;
    height: 300px;
  }

  .img2 {
    float: left; 
    padding: auto;
    width: 300px;
    height: 300px;
  }
  
  .img3 {
    position: relative;
    top: -600px;
    float: right; 
    padding: auto;
    width: 300px;
    height: 300px;
  }

  .img4 {
    position: relative;
    top: -600px;
    float: right; 
    padding: auto;
    width: 300px;
    height: 300px;
  }
  p {
    position: relative;
    font-size: 1.5rem;
  }
  